h1{
    text-align: center;
    color: crimson;
    font-size: 50px;
}
.titulo{
    background-color:blanchedalmond;
}
.parrafo1{
    color: darkblue;
    font-size: 20px;
}
.parrafo2{
    font-size: 17px;
}
.parrafo3{
    font-size: 17px;
}
.iconos{
    text-align: center;
}